PORT=Port untuk menjalankan di server atau localhost
PGUSER=Username untuk koneksi database PostgreSQL 
PGPASSWORD=Password untuk koneksi database PostgreSQL
PGHOST=Host untuk koneksi database PostgreSQL
PGPORT=Port untuk koneksi database PostgreSQL
PGDATABASE=Nama database PostgreSQL
JWT_SECRET=Secret key untuk JSON Web Token
CLOUDINARY_NAME=Nama cloudinary untuk penyimpanan file
CLOUDINARY_KEY=Key cloudinary untuk penyimpanan file
CLOUDINARY_SECRET=Secret cloudinary untuk penyimpanan file

